/* Navbar Section Start */
.navv {
    color: #3384c2;
}

.navvv {
    color: #3384c2;
}

.navvv:hover {
    color: #8dc63f;
}

.nav-link {
    font-size: 12px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8dc63f;
    transition: width .3s, center .3s;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transform-origin: center;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.butt {
    border: 1px solid #0d6db7;
    background-color: #0d6db7;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;

}

.but {
    border: 1px solid #0d6db7;
    background-color:
        #8dc63f;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;

}

.but :hover {
    background-color: #8dc63f;
}

/* Navbar Section End  */

/* Main Section Start  */

.color {
    color: #8dc63f;
}

.cursor {
    color: #0d6db7;
}

.explore {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}


.back {
    background-color: #eef8d1;
    padding: 50px;
    text-align: center;
}

.input {
    border: none;
    padding: 7px;
}

.form-control {
    width: 120px;
}


.label {
    background-color: #333;
    color: #fff;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

.amount {
    background-color: #333;
    color: #fff;
    padding: 7px;
    border-radius: 0 5px 5px 0;
}


.large-button {
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.small-button {
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.large-button:hover {
    background-color: black;
    color: #fff;
}

.small-button:hover {
    background-color: black;
    color: #fff;
}

.quick-donate:hover {
    background-color: #8dc63f;
}


/* What We Are Doing Section Start */

.doing {
    text-align: center;
}

.service-box {
    background-color: #f0fcdb;
    border-radius: 10px;
    color: #424242;
    cursor: default;
    padding: 20px;
    text-align: center;
}

.images {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}


.fund-box {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.funding-box .fund-box button {
    background-color: #8dc63f;
    border: none;
    font-size: 14px !important;
    outline: none;
    padding: 10px 30px;
    width: 100%;
}


/* What We Are Doing Section End */

/* Other Project Section Start */

.giving {
    width: 100%;
    border-top-left-radius: 30px;

}

.green-box {
    background-color: #8BC34A;
    color: white;
    padding: 30px 80px;
    font-size: 1.5rem;
    width: 300px;
    height: 220px;
    border-top-left-radius: 30px;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
}

.projects-section img {
    width: 100%;
    height: auto;
}

.projects-section .projects {
    flex: 1;
    padding: 20px;
}

.project-item {
    margin-bottom: 10px;
}

.stats-section {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.stats-item {
    padding: 20px;
}

.stats-item img {
    width: 100px;
    height: auto;
}

.stats-item h4,
.stats-item p {
    margin: 10px 0;
}

.white {
    background-color: #fff;
    border-radius: 80px;
    padding: 10px;
}

/* Other Project Section End  */

/* What They Say Section Start */

.testimonials {
    color: #8dc63f;
}


.radius {
    height: 70px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.colorback {
    background-color: #eeeeee;
    padding: 30px;
}

.colo {
    color: #0056b3;
}

/* What They Say Section End */
/* Media Update Start */
.botton {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
}

.borde {
    border: none;
}

/* Media Update End  */

/* News Start  */

.boder1 {
    /* border: 1px solid; */
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #eeeeee;
}


.styling {
    font-size: 9px;
    border: none;
    color: white;
    background-color: #8BC34A;
    border-radius: 5px;
}

/* News End  */
/* Subs Start  */

.guide-container {
    background-image: url("../Images/guide-back.png"
        );
    background-color: #1365a8;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.coo {
    padding: 0px 50px;
}

.subscribe-btn {
    background-color: #fff !important;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-top: 5px;
    padding: 15px 30px !important;
    width: 100% !important;
    border-color: transparent;
    border-radius: 5px;
}

.baco {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    padding: 15px !important;
    border: 1px solid #d9d9d9;
}
.baco:focus{
    border: 1px solid #d9d9d9;
    border-color: transparent;
}
.colorr {
    color: white;
}

/* Subs End  */
/* Footer Start  */
.footer {
    background-color: #3a3a3a;
    color: white;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    font-size: 12px;

}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin: 0 10px;

}

.footer .social-icons a img {
    width: 30px;
}

.footer .contact-info p {
    margin: 0;
}

.facebook {
    border-radius: 5px;
}

.x {
    border-radius: 5px;
    background-color: white;
    color: white;
    height: 30px;
}

.youtube {
    border-radius: 5px;

}

.whatsapp {
    border-radius: 5px;
    background-color: green;
}

/* Footer End  */